<section class="about-us">
    <div class="container">
        <div class="about-us-text-content">
            <h2 class="about-us-title">Endocrine surgery Endosurge</h2>
            <p class="about-us-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel aliquam ex. Aliquam tincidunt vestibulum nisl quis
            posuere. Maecenas lobortis, neque vitae maximus pulvinar, ex enim iaculis metus, ac eleifend turpis nunc a ante. <br> <br>
            Suspendisse tempor justo at nunc viverra tempor. Proin sit amet neque eget elit fermentum vestibulum. Vestibulum semper
            nibh quis consectetur pharetra. Cras non urna est.</p>
            <a href="#" class="about-us-btn">Read more</a>
        </div>
        <div class="about-us-grid">
            <div class="div_abtus1">
                <svg class="icon icon-icon4">
                    <use xlink:href="#icon-icon1"></use>
                </svg>
                <h3>Reabilitation</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel aliquam ex.</p>
                <a href="#">Read More</a>
            </div>
            <div class="div_abtus2">
                <svg class="icon icon-icon4">
                    <use xlink:href="#icon-icon2"></use>
                </svg>
                <h3>Consultation</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel aliquam ex.</p>
                <a href="#">Read More</a>
            </div>
            <div class="div_abtus3">
                <svg class="icon icon-icon4">
                    <use xlink:href="#icon-icon3"></use>
                </svg>
                <h3>Qualified staff</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel aliquam ex.</p>
                <a href="#">Read More</a>
            </div>
            <div class="div_abtus4">
                <svg class="icon icon-icon4">
                    <use xlink:href="#icon-icon4"></use>
                </svg>
                <h3>Modern operating room</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel aliquam ex.</p>
                <a href="#">Read More</a>
            </div>
        </div>
    </div>
</section>