<header>
    <div class="container">
        <div class="logo">
            <span class="logo-es">es</span>
        </div>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Specialization</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Contact us</a></li>
            </ul>
        </nav>
    </div>
</header>